osu_API_Key: ""
SQL_Username: "root"
SQL_Password: ""
SQL_Schema: "osu"
BeatmapPath: "/home/ruri/Data/beatmaps/"
ReplayPath: "/home/ruri/Data/replays/replay_"
Ruri_Thread_Count: "4"
Aria_Thread_Count: "4"
